[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "flake8"

[packages]
celery = "==4.3.0"
python-decouple = "==3.1"
kombu = "==4.5.0"
spacy = "==2.0.18"

[dev-packages]
"flake8" = "*"
black = "==19.3b0"

[requires]
python_version = "3.6"
